* {
    color: black;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: skyblue;
}

.grid-top {
    display: grid;
    grid-template: 2fr 1fr 10fr/1fr 2fr 1fr;
}

.grid-top>#header {
    display: grid;
    grid-template: 1fr / 65% 15% 20%;
    grid-column-start: 2;
}
.grid-top>#strip {
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 15px 0;
}
.grid-top>#content {
    grid-column-start: 2;
    grid-row-start: 3;
    display: grid;
    grid-template: 1fr / 6fr 4fr;
}
#strip-text {
    display: grid;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    grid-template: 1fr / 1fr 1fr;
}
#strip-text>p:last-child {
    text-align: right;
}
#title {
    background-image: url("title.png");
    background-size: cover;
}
#date>p{
    transform: rotate(-90deg);
    font-size: 24px;
    text-align: center;
    background-color: transparent;
}
#feature {
    font-size: 28px;
}
#content-left {
    display: grid;
    grid-template: auto 25% 5%/ 1fr;
}
#main-article {
    border: 2px solid black;
}
#weather {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
#content-right {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    margin-left: 20px;
}
#main-article>.image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    /*padding-left: 25px;*/
}
#main-article>.text>p:nth-child(2) {
    margin: 0;
    font-size: 44px;
}
#main-article>.text>p:nth-child(1) {
    margin: 0;
    font-size: 8px;
}
#main-article p {
    text-align: center;
}
#main-article>.text {
    border-top: 2px solid black;
}
p {
    margin: 8px 0;
}

@media screen and (max-width: 600px) {
    body {
        background-color: lightsalmon;
    }

    .grid-top>#content {
        grid-template: 1fr 1fr / 1fr;
    }

    .grid-top {
        grid-template: 1fr 10% 5fr/1fr;
    }

    .grid-top>#header {
        height: 5px;
    }
}